services:
  backend:
    container_name: smart-grant-backend
    build: ./
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: postgres
    depends_on:
      db:
        condition: service_healthy
    restart: on-failure

  db:
    image: 'postgres:17.6'
    container_name: smart-grant-DB
    environment:
      POSTGRES_USER: wolkodaf
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: postgres
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - './pgdata:/var/lib/postgresql/data/pgdata'
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 1024M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: |
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U wolkodaf -d sleep-diary-db
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true