html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  transition: background-color 0.5s ease, 
              color 0.5s ease, 
              border-color 0.5s ease, 
              box-shadow 0.5s ease !important;
}